#tabbrowser-tabs {
    --user-tab-rounding: 6px;
    transition-duration: 200ms !important;
    box-shadow: none !important;
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    /* Connected */
    margin-block: 1px 0 !important;
    /* Connected */
    box-shadow: none !important;
}

#TabsToolbar,
#tabbrowser-tabs {
    --tab-min-height: 29px !important;
}

/* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar,
#TabsToolbar>hbox,
#TabsToolbar-customization-target,
#tabbrowser-arrowscrollbox {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}

/* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton>.toolbarbutton-icon,
#TabsToolbar-customization-target .toolbarbutton-text,
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,
#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

.tab-background[selected],
.tab-background[multiselected="true"] {
    outline: none !important;
    border: solid transparent !important;
    box-shadow: none !important;
}

.tab-background {
    outline: none !important;
}

#navigator-toolbox::after {
    border-bottom: 0px !important;
}

#nav-bar {
    box-shadow: none !important;
    border-top: none !important;
}

menuitem {
    transition-duration: 100ms;
}

.menupopup-arrowscrollbox {
    --panel-background: var(--arrowpanel-background);
}

/* contextMenu.css */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

#context-navigation>.menuitem-iconic {
    -moz-box-flex: 1;
    -moz-box-pack: center;
    -moz-box-align: center;
}

#context-navigation>.menuitem-iconic>.menu-iconic-left>.menu-iconic-icon {
    width: 1.25em;
    height: auto;
    margin: 7px;
    -moz-context-properties: fill;
    fill: currentColor;
    transition-duration: 100ms;
    border-radius: 4px;
}

#context-back {
    list-style-image: url("chrome://browser/skin/back.svg");
    transition-duration: 100ms;
    border-radius: 4px;

}

#context-forward {
    list-style-image: url("chrome://browser/skin/forward.svg");
    transition-duration: 100ms;
    border-radius: 4px;

}

#context-reload {
    list-style-image: url("chrome://global/skin/icons/reload.svg");
    transition-duration: 100ms;
    border-radius: 4px;

}

#context-stop {
    list-style-image: url("chrome://global/skin/icons/close.svg");
    transition-duration: 100ms;
    border-radius: 4px;

}

#context-bookmarkpage {
    list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
    transition-duration: 100ms;

    border-radius: 4px;
}

#context-bookmarkpage[starred=true] {
    list-style-image: url("chrome://browser/skin/bookmark.svg");
    transition-duration: 100ms;
    border-radius: 4px;
}

#context-back:-moz-locale-dir(rtl),
#context-forward:-moz-locale-dir(rtl),
#context-reload:-moz-locale-dir(rtl) {
    transform: scaleX(-1);
    transition-duration: 100ms;
    border-radius: 4px;
}

#context-media-eme-learnmore {
    list-style-image: url("chrome://browser/skin/drm-icon.svg");
    -moz-context-properties: fill;
    fill: currentColor;
    transition-duration: 100ms;
    border-radius: 4px;
}

menuitem.menuitem-iconic[disabled="true"] hbox:hover, menuitem.menuitem-iconic[disabled] hbox:hover {
    background-color: var(--panel-disabled-hover-bg-color) !important;
}

menuitem.menuitem-iconic hbox:hover, menuitem.menuitem-iconic hbox:hover {
    background-color: var(--panel-item-hover-bgcolor) !important;
}

/** GitHub copy pasterino */
:root{
    --arrowpanel-menuitem-margin: 0 8px;
    --arrowpanel-menuitem-padding-block: 8px;
    --arrowpanel-menuitem-padding-inline: 8px;
    --arrowpanel-menuitem-border-radius: 4px;
    --panel-separator-margin-vertical: 4px;
    --button-hover-bgcolor: var(--panel-item-hover-bgcolor);
}

menupopup{
    --panel-item-hover-bgcolor: var(--button-hover-bgcolor)
}

menupopup > menuitem,
menupopup > menu{
  appearance: none !important;
  margin: var(--arrowpanel-menuitem-margin) !important;
  min-height: 24px !important;
  padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
  background-color: transparent !important;
}
#context-navigation{
  padding-inline: var(--arrowpanel-menuitem-padding-inline) !important;
}

menupopup:not(.in-menulist){
  --panel-padding: var(--arrowpanel-menuitem-padding-block) 0 !important;
}
menuseparator:not(.in-menulist){
  margin-block: var(--panel-separator-margin-vertical) !important;
}

#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon{
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}
menupopup > menuitem[_moz-menuactive],
menupopup > menu[_moz-menuactive]{
  background-color: var(--panel-item-hover-bgcolor) !important;
}
menupopup > menuitem[disabled][_moz-menuactive],
menupopup > menu[disabled][_moz-menuactive]{
  background-color: var(--panel-disabled-hover-bg-color) !important;
}

/** Window control customization */
toolbarbutton.titlebar-button {
    transition-duration: 100ms;
}
